

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "", "Computers")</li>
            <li>@Html.ActionLink("Computers", "", "Computers")</li>
            <li>@Html.ActionLink("Add Computer", "New", "Computers")</li>
        </ul>
    </div>
</div>